<div id="gallery">
    <ul id="grid">
        <% @pups.each do |pup| %>
            <li>
              <h2><%= pup.title %> </h2>
              <%= link_to image_tag(pup.img), pup.url %>
              <span><%= pup.description %>
            </li>
            <li><%= pup.description %></li>
    <% end %>
    </ul>
</div>
